@import "../../App.scss";

// Store shipping
.store-shipping,
.edit-shipping {
    .card {
        border-radius: 6px;

        .card-header {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            h6 {
                margin-top: 8px;
                font-weight: 500;
                color: $secondary;
            }

            .btn {
                color: #fff;
                padding: 5px 6px;
                background: $primary;
            }
        }

        .card-body {
            form {
                .react-time-picker {
                    color: #000;
                    font-size: 14px;
                    min-height: 45px;
                    background: #e9e8e8;
                    width: 100% !important;
                    border-radius: 4px !important;
                    padding-left: 10px !important;
                    padding-right: 10px !important;

                    .react-time-picker__wrapper {
                        border: 0 !important;
                    }
                }

                .img-container {
                    .image {
                        width: 80px;
                        height: 80px;
                        overflow: hidden;
                        margin: auto;
                        position: relative;

                        img {
                            min-width: 100%;
                            min-height: 100%;
                        }

                        .upload {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            opacity: 0;
                            cursor: pointer;
                        }

                        p {
                            color: #000;
                            font-size: 13px;
                            font-family: "Roboto", sans-serif;
                        }

                        @media (min-width: 350px) {
                            width: 100px;
                            height: 100px;
                        }

                        @media (min-width: 576px) {
                            width: 140px;
                            height: 140px;
                        }
                    }
                }
            }
        }
    }
}

// Show shipping
.show-shipping {
    // intro-card
    .intro-card {
        overflow: hidden;
        border-radius: 6px;

        .card-header {
            h6 {
                margin-top: 8px;
                font-weight: 500;
                color: $secondary;
            }

            .btn {
                color: #fff;
                padding: 5px 6px;
                background: $primary;
            }
        }

        .card-body {
            table {
                tbody {
                    tr {
                        td {
                            color: rgba(0, 0, 0, 0.671);
                            font-size: 13px;
                            text-transform: capitalize;
                            margin-bottom: 5px;
                        }

                        .title-td {
                            min-width: 110px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    // shipping-card
    .shipping-card {
        border-radius: 6px;
        overflow: hidden;

        .card-header {
            height: 150px;
            overflow: hidden;

            img {
                min-height: 250px;
                min-width: 100%;
            }

            @media (min-width: 576px) {
                height: 250px;
            }
        }

        .card-body {
            h6 {
                color: #000;
                font-size: 17px;
                margin-top: 6px;
                font-weight: 500;
            }
        }
    }
}
